<!DOCTYPE html>
<!-- Classes Page -->
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <body>

    <!-- Navigation Bar -->
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="/classes">Classes</a>
      <a href="/teachers">Teacher Directory</a>
      <a href="/students">Student Directory</a>
      <a href="/schools">School Directory</a>
    </nav>

    <!-- Content Description -->
    <section class="content">
      <h1>CLASSES</h1><br>
      Filter By:<br>
      <form>
        Class ID<br>
        <input type="checkbox" name="class id" value="class id"><br>
        Class Name<br>
        <input type="checkbox" name="class name" value="class name"><br>
        Teacher Name<br>
        <input type="checkbox" name="teacher name" value="teacher"><br><br>
        Search for class:<br><br>
        Search<br>
        <input type="text" name="sarch" value="enter class name"><br><br>
        <input type="submit" value="Search">
      </form><br>
      {% if class_list %}
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th># of Students</th>
          <th># of Available Seats</th>
          <th>School Name</th>
          <th>Action</th>
        </tr>
        {% for row in class_list %}
        <tr>
          <td contenteditable="true"> {{ row.course_id }} </td>
          <td contenteditable="true"> {{ row.course_name }} </td>
          <td contenteditable="true"> {{ row.number_of_students }} </td>
          <td contenteditable="true"> {{ row.available_seats }} </td>
          <td contenteditable="true"> {{ row.school_name }} </td>
          <td>
            <select id="action">
              <option value="None">None</option>
              <option value="Update">Update</option>
              <option value="Delete">Delete</option>
            </select>
          </td>
        </tr>
        {% endfor %}
      </table>You can edit the data in the table and select an action to "update" or "delete" then press "Update Table" to finalize.<br>
      {% endif %}
      <input type="submit" value="Update Table"><br><br>
      Add a class:<br>
      <!--<form id="addclass" action="/add-class" method="POST">
        Class Identification Number ->
        <input type="text" name="class id input" value="class id input">
        Class Name ->
        <input type="text" name="class name input" value="class name input">
        Available Seats ->
        <input type="text" name="available seats input" value="# of seats input">
        Teacher ->
        <input type="text" name="teacher name input" value="class teacher input"><br>
        <input type="submit" value="Submit Class">
      </form>-->

      <form method="POST" action="/classes">
        Course ID ->
        <input type="number" name="course_id_input" />
        Course Name ->
        <input type="text" name="course_name_input" />
        Number of Students ->
        <input type="number" name="student_input" />
        Available Seats ->
        <input type="number" name="seats_input" />
        School Name ->
        <input type="text" name="school_name_input" />

        <input type="submit" value="Add Class">

    </section>

    <!-- Footer -->
    <footer class="footer">
    </footer>

    <script></script>

  </body>
</html>
