
<!DOCTYPE html>

<!-- Home Page -->
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <body>

    <!-- Navigation Bar -->
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="classes">Classes</a>
      <a href="teachers">Teacher Directory</a>
      <a href="students">Student Directory</a>
      <a href="schools">School Directory</a>
    </nav>

    <!-- Content Description -->
    <section class="content">
      <h3>
        Home/Index
      </h3><br>
      This page will have some general information about our site as well as what the<br>
      rest of the pages contain. We'd like for the front page to contain some general statistics about<br>
      the school based on the database information<br>
      <h3>
        Classes
      </h3><br>
      This page will allow you to search for classes, filter results by teacher name/open seats/number of students enrolled<br>
      You'll be able to add a class as well by entering all required elements.<br>
      <h3>
        Teachers
      </h3><br>
      This page will allow you to search for a teacher by id or name and will allow you to see what classes a<br>
      teacher is teaching.<br>
      <h3>
        Students
      </h3><br>
      This will allow you to look up a student by id or name and will allow you to see what classes a<br>
      student is taking.<br>
      <h3>
        School
      </h3><br>
      This page will let you look up a school by name or school district.


    </section>

    <!-- Footer -->
    <footer class="footer">
    </footer>

    <script></script>

  </body>
</html>
