
<!DOCTYPE html>

<!-- Home Page -->
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <body>

    <!-- Navigation Bar -->
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="classes">Classes</a>
      <a href="teachers">Teacher Directory</a>
      <a href="students">Student Directory</a>
      <a href="schools">School Directory</a>
    </nav>

    <!-- Content Description -->
    <section class="content">
      <h3>
        Home/Index
      </h3><br>
      This page will have some general information about our site as well as what the<br>
      rest of the pages contain. We'd like for the front page to contain some general statistics about<br>
      the school based on the database information<br>
      <h3>
        Classes
      </h3><br>
      This page will allow you to view the list of classes and add classes.<br>
      <h3>
        Teachers
      </h3><br>
      This page will allow you to view and add teachers.<br>
      <h3>
        Students
      </h3><br>
      This will allow you to view students, search for a student using a filter, add a student, and update/delete student records.<br>
      <h3>
        School
      </h3><br>
      This page will let you view and add schools.


    </section>

    <!-- Footer -->
    <footer class="footer">
    </footer>

    <script></script>

  </body>
</html>
