<!DOCTYPE html>

<!-- Students Page -->
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <body>

    <!-- Navigation Bar -->
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="classes">Classes</a>
      <a href="teachers">Teacher Directory</a>
      <a href="students">Student Directory</a>
      <a href="schools">School Directory</a>
    </nav>

    <!-- Content Description -->
    <section class="content">
      <h1>SCHOOLS</h1><br>
      {% if school_list %}
      <table>
        <tr>
          <th>Name</th>
          <th>Division</th>
        </tr>
        {% for row in school_list %}
        <tr>
          <td> {{ row.school_name }} </td>
          <td> {{ row.division }} </td>
        </tr>
        {% endfor %}
      </table><br>
      {% endif %}
      <br>
      Add a school:<br>
      <form>
        School Name ->
        <input type="text" name="school name input" value="school name input">
        School Division ->
        <input type="text" name="school division input" value="school division input">
        <input type="submit" value="Submit School">
      </form>
    </section>

    <!-- Footer -->
    <footer class="footer">
    </footer>

    <script></script>

  </body>
</html>