<!DOCTYPE html>

<!-- Students Page -->
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <body>

    <!-- Navigation Bar -->
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="classes">Classes</a>
      <a href="teachers">Teacher Directory</a>
      <a href="students">Student Directory</a>
      <a href="schools">School Directory</a>
    </nav>

    <!-- Content Description -->
    <section class="content">
      <h1>STUDENTS</h1><br>
      Filter By:<br>
      <form>
        Student ID<br>
        <input type="checkbox" name="student id" value="student id"><br>
        Student Name<br>
        <input type="checkbox" name="student name" value="student name"><br><br>
        Search for student:<br><br>
        Search<br>
        <input type="text" name="sarch" value="enter class name"><br><br>
        <input type="submit" value="Search">
      </form><br>

      {% if student_list %}
      <table>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Year</th>
          <th>Major</th>
          <th>Email</th>
          <th>School</th>
          <th>Action</th>
        </tr>
        {% for row in student_list %}
        <tr>
          <td contenteditable="true"> {{ row.student_id }} </td>
          <td contenteditable="true"> {{ row.first_name }} </td>
          <td contenteditable="true"> {{ row.last_name }} </td>
          <td contenteditable="true"> {{ row.year }} </td>
          <td contenteditable="true"> {{ row.major }} </td>
          <td contenteditable="true"> {{ row.email }} </td>
          <td contenteditable="true"> {{ row.school_name }} </td>

          <td>
            <select id="action">
              <option value="None">None</option>
              <option value="Update">Update</option>
              <option value="Delete">Delete</option>
            </select>
          </td>
        </tr>
        {% endfor %}
      </table>You can edit the data in the table and select an action to "update" or "delete" then press "Update Table" to finalize.<br>
      {% endif %}
      <input type="submit" value="Update Table"><br><br>

      Add a student:<br>
      <form method="POST" action="/students">
        Student ID ->
        <input type="text" name="student_id_input">
        Student First Name ->
        <input type="text" name="student_fname_input">
        Student Last Name ->
        <input type="text" name="student_lname_input">
        Student Year ->
        <input type="text" name="student_year_input">
        Student Major ->
        <input type="text" name="student_major_input">
        Student Email ->
        <input type="text" name="student_email_input">
        Student School Name ->
        <input type="text" name="student_school_name_input">
          <!--<option value="Oregon State University">Oregon State University</option>
          <option value="saab">Saab</option>
          <option value="fiat">Fiat</option>
        </select>-->


        <input type="submit" value="Add">
      </form>
    </section>

    <!-- Footer -->
    <footer class="footer">
    </footer>

    <script></script>

  </body>
</html>
