<!DOCTYPE html>

<!-- Teachers Page -->
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <body>

    <!-- Navigation Bar -->
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="classes">Classes</a>
      <a href="teachers">Teacher Directory</a>
      <a href="students">Student Directory</a>
      <a href="schools">School Directory</a>
    </nav>

    <!-- Content Description -->
    <section class="content">
      <h1>TEACHERS</h1><br>
      {% if teacher_list %}
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Classes being Taught ID</th>s
        </tr>
        {% for row in teacher_list %}
        <tr>
          <td> {{ row.teacher_id }} </td>
          <td> {{ row.Name }} </td>
          <td> {{ row.cid }} </td>
        </tr>
        {% endfor %}
      </table><br>
      {% endif %}
      <br>
      Add a teacher:<br>
      <form method="POST" action="/teachers">
        Teacher First Name ->
        <input type="text" name="teacher_fname_input">
        Teacher Last Name ->
        <input type="text" name="teacher_lname_input">
        Teacher ID
        <input type="text" name="teacher_id_input"><br>
        <input type="submit" value="Submit Teacher">
      </form>
    </section>

    <!-- Footer -->
    <footer class="footer">
    </footer>

    <script></script>

  </body>
</html>
